.content-receipt {
    padding-top: 42px;
    padding-bottom: 40px;
}
.rec-product {
    border-top: 2px #0157ae solid;
    border-bottom: 1px #dedfe4 solid;
    border-right: 1px #dedfe4 solid;
    border-left: 1px #dedfe4 solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.top{
    margin-top: 25px;
}
.rec-product .tab-right {
    padding-right: 20px;
}
.rec-product .tab-right-new {
    padding-top: 25px;
    padding-right: 20px;
}
.total {
    border-top: 2px #0157ae solid;
    border-bottom: 1px #dedfe4 solid;
    border-right: 1px #dedfe4 solid;
    border-left: 1px #dedfe4 solid;
    margin-right: 10px;
}
.rec-product .table-my {
    border-top: 2px #0157ae solid;
    border-bottom: 1px #dedfe4 solid;
    border-right: 1px #dedfe4 solid;
    border-left: 1px #dedfe4 solid;
}
.blue{
    color: #0157ae;
    size: 15px;
}
.center{
    text-align: center;
    margin-top: 15px;
}
.hr{
    margin-left: 2.5%;
}
h4.title {
    font-size: 16px;
    font-weight: bold;
}
h2.title {
    margin-bottom: 20p;
}
.rec-product .text-r{
    line-height: 40px;
    text-align: right;
}
.rec-product .text-l{
    line-height: 40px;
}
.view-icon {
    min-height: 80px;
    text-align: right;
    line-height: 80px;
}
.view-img{
    min-height: 80px;
    text-align: center;
}
.but{
    background: none;
    color: #0000FF;
    border-color: #0000FF;
}
.but:hover{
    background: none;
    color: #0000FF;
    border-color: #0000FF;
}
.but:active {
    background: none;
    color: #0000FF;
    border-color: #0000FF;
}
a:link, a:visited {
    color: #0157ae;
    text-decoration: none;
    cursor: auto;
}
a:link:active, a:visited:active {
    color: #0157ae;
}
.cost{
    color: #0157ae;
    font-size: 20px;
    font-weight: bold;
}
.vertical-line{
    margin-left: 30px;
    width: 4px; /* Line width */
    background-color: #d8d8d8; /* Line color */
    height: 200px; /* Override in-line if you want specific height. */
}
.circle-out {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0157ae;
    transform: translateX(-13px) translateY(0%);
    vertical-align: middle;
    text-indent: 35px;
}
.circle-out .circle-in{
    width: 70%;
    height: 70%;
    border: 2px solid white;
    border-radius: 50%;
    transform: translateX(20%) translateY(20%);
}
.inable{
    background: #d8d8d8;
}
.sts1{
    transform: translateX(-13px) translateY(100%);
}
.sts2{
    transform: translateX(-13px) translateY(200%);
}
.sts3{
    transform: translateX(-13px) translateY(300%);
}
