body {
    margin: 0;
    padding: 0
}
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
nav ul,
nav ol {
    list-style: none none
}
img {
    border: 0
}
img,
object,
video,
embed {
    height: auto;
    max-width: 100%
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%
}
body {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem
}
p {
    margin-top: 0;
    margin-bottom: 1rem
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #d1d1d1
}
b,
strong {
    font-weight: 700
}
em,
i {
    font-style: italic
}
mark {
    background: #f0f0f0;
    color: #000
}
small,
.small {
    font-size: 12px
}
hr {
    border: 0;
    border-top: 1px solid #d1d1d1;
    margin-bottom: 20px;
    margin-top: 20px
}
sub,
sup {
    font-size: 71.42857143000001%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
dfn {
    font-style: italic
}
h1 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 0;
    margin-bottom: 2rem
}
h2 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem
}
h3 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem
}
h4 {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}
h5 {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}
h6 {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1
}
a,
.alink {
    color: #1979c3;
    text-decoration: none
}
a:visited,
.alink:visited {
    color: #1979c3;
    text-decoration: none
}
a:hover,
.alink:hover {
    color: #006bb4;
    text-decoration: underline
}
a:active,
.alink:active {
    color: #ff5501;
    text-decoration: underline
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 2.5rem
}
ul>li,
ol>li {
    margin-top: 0;
    margin-bottom: 1rem
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}
dl {
    margin-bottom: 20px;
    margin-top: 0
}
dt {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0
}
dd {
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0
}
code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace
}
code {
    background: #f0f0f0;
    color: #111;
    padding: 2px 4px;
    font-size: 1.2rem;
    white-space: nowrap
}
kbd {
    background: #f0f0f0;
    color: #111;
    padding: 2px 4px;
    font-size: 1.2rem
}
pre {
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    color: #111;
    line-height: 1.42857143;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 1.2rem;
    display: block;
    word-wrap: break-word
}
pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap
}
blockquote {
    border-left: 0 solid #d1d1d1;
    margin: 0 0 20px 40px;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0
}
blockquote footer,
blockquote small,
blockquote .small {
    color: #333;
    line-height: 1.42857143;
    font-size: 1rem;
    display: block
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0'
}
blockquote cite {
    font-style: normal
}
blockquote:before,
blockquote:after {
    content: ''
}
q {
    quotes: none
}
q:before,
q:after {
    content: '';
    content: none
}
cite {
    font-style: normal
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%
}
table th {
    text-align: left
}
table>tbody>tr>th,
table>tfoot>tr>th,
table>tbody>tr>td,
table>tfoot>tr>td {
    vertical-align: top
}
table>thead>tr>th,
table>thead>tr>td {
    vertical-align: bottom
}
table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 8px 10px
}
button,
.cart.table-wrapper .actions-toolbar>.action,
.cart.table-wrapper .action-gift {
    background-image: none;
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle
}
button:focus,
button:active,
.cart.table-wrapper .actions-toolbar>.action:focus,
.cart.table-wrapper .actions-toolbar>.action:active,
.cart.table-wrapper .action-gift:focus,
.cart.table-wrapper .action-gift:active {
    background: #e2e2e2;
    border: 1px solid #cdcdcd;
    color: #333
}
button:hover,
.cart.table-wrapper .actions-toolbar>.action:hover,
.cart.table-wrapper .action-gift:hover {
    background: #e2e2e2;
    border: 1px solid #cdcdcd;
    color: #555
}
button.disabled,
button[disabled],
fieldset[disabled] button,
.cart.table-wrapper .actions-toolbar>.action.disabled,
.cart.table-wrapper .actions-toolbar>.action[disabled],
fieldset[disabled] .cart.table-wrapper .actions-toolbar>.action,
.cart.table-wrapper .action-gift.disabled,
.cart.table-wrapper .action-gift[disabled],
fieldset[disabled] .cart.table-wrapper .action-gift {
    opacity: .5;
    cursor: default;
    pointer-events: none
}
button::-moz-focus-inner,
.cart.table-wrapper .actions-toolbar>.action::-moz-focus-inner,
.cart.table-wrapper .action-gift::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="datetime"]:disabled,
input[type="email"]:disabled {
    opacity: .5
}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
    color: #c2c2c2
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
    color: #c2c2c2
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
    color: #c2c2c2
}
input[type="number"] {
    -moz-appearance: textfield
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
input[type="search"] {
    -webkit-appearance: none
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}
select {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 5px 10px 4px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box
}
select:disabled {
    opacity: .5
}
select[multiple="multiple"] {
    height: auto;
    background-image: none
}
textarea {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical
}
textarea:disabled {
    opacity: .5
}
textarea::-moz-placeholder {
    color: #c2c2c2
}
textarea::-webkit-input-placeholder {
    color: #c2c2c2
}
textarea:-ms-input-placeholder {
    color: #c2c2c2
}
input[type="checkbox"] {
    margin: 2px 5px 0 0
}
input[type="checkbox"]:disabled {
    opacity: .5
}
input[type="radio"] {
    margin: 2px 5px 0 0
}
input[type="radio"]:disabled {
    opacity: .5
}
input.mage-error,
select.mage-error,
textarea.mage-error {
    border-color: #ed8380
}
div.mage-error[generated] {
    color: #e02b27;
    font-size: 1.2rem
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
form {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
address {
    font-style: normal
}
*:focus {
    box-shadow: none;
    outline: 0
}
._keyfocus *:focus,
input:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
    box-shadow: 0 0 3px 1px #68a8e0
}