.cms-index-index .vmagicmenu .block-vmagicmenu-content {
    visibility: hidden;
}
.content-home {
    padding-top: 42px;
    padding-bottom: 40px;
}
.sec-product {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid #0157ae;
    border-bottom: 1px solid #dedfe4;
    border-right: 1px solid #dedfe4;
    border-left: 1px solid #dedfe4;
}
.sec-product .cost{
    color: #0157ae;
    font-size: 20px;
    font-weight: bold;
}
.sec-product .cost-sale {
    font-size: 15px;
    text-decoration: line-through;
}
.view-img {
    min-height: 180px;
    text-align: center;
}
.sec-product .item{
    background-color: #f9f9f9;
    padding: 20px 0;
}
.sec-product .item .view-img {
    border-bottom: 1px #dedfe4 solid;
}
.sec-product .item .text {
    padding: 20px 20px 0 ;
}
.sec-product .item .cost {
    padding: 0 20px;
}
.sec-product .item .cost-sale {
    padding: 0 20px;
}
.sec-product.newstyle .view-img {
    min-height: 264px;
}
.sec-banner-center {
    padding-top: 30px;
}
h2.title {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 20px;
}
h4.title {
    font-size: 16px;
    font-weight: bold;
}
.label-sale {
    position: absolute;
    right: 10px;
    bottom: 0;
    background-color: #ffc107;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    color: #000;
}
.sec-adv article {
    padding-top: 31px;
}
