/*===========================left-category.php========================*/
.sec-category {
    margin-top: 30px;
    background-color: #F6F7FB;
    border-top: 2px solid blue;
    width: 250px;
 }   
 .list-title{
    color: blue;
 }
 .list-category a{
    color: black;
 }
 .list-category a:hover{
    font-weight: bold;
    color: blue;
    cursor: pointer;
 }
 .sec-category .panel-body {
    padding-left: 25px;
    padding-bottom: 0px;
 }
 .list-category li{
    margin-bottom: 7px;
 }
/*===========================right-center.php========================*/
.title{
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.sec-product{
    border: none;
}
.title a{
    color: blue;
}
.resize:hover img {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    margin-bottom: 10px;
}
.resize img{   
    width: 270px;
    height: 210px;           
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
 /*===========================right-top.php========================*/
.block-content{
  color: white;
  padding-left: 50px;
  padding-top: 60px;
  padding-right: 40px;
} 
.block-right-banner {
  background-color: #3494FF; 
  height: 340px; 
  width: 313px; 
  float: right;
  margin-right: 30px;
}
.block-left-banner img{
  width: 570px; 
  height: 340px; 
}
.block-left-banner {
  float:left; 
  margin-left: 15px;
}
.button-banner:hover {
  text-decoration: none;
  cursor: pointer;
  color: blue;
  background-color: white;
}
.button-banner {
  color: white; 
  border: 1px white solid; 
  padding: 10px 15px; 
  font-size: 15px;
}    
.block-heading span{
  font-size: 30px;
}
.highlight-banner span{
  color: yellow;
  font-size: 40px;
}
.highlight-banner {
  font-size: 40px;
  margin-bottom: 3px;
}
.block-body {
  font-size: 15px;
  margin-bottom: 5px;
}
.background img{
width: 430px; 
    height: 220px;
}
.background {
width: 430px; 
    height: 220px;
    background-color: black;
}
.layout-text a p, .layout-text a h2{
color: white;
white-space: nowrap;
}
.layout-text a:hover {
font-weight: bold;

}
.layout-color .layout-text{
  text-align: left;
  position: absolute; 
  top: 14%;
  left: 5%;
  color: white;
  font-size: 12px;
} 
.background .layout-color{
  position: absolute;
  background: black;
  opacity: 0;
  height: 0;
  transition: .5s ease;     
}
.background:hover .layout-color{
  opacity: 0.7;
  height: 65px;
  top: 70%;
  width: 430px;
}

.block-left-banner {
  animation: bounceInDown 2s ease-in-out  1s;
}
.block-content {
  animation: bounceInRight 2s ease-in-out  1s 2 alternate;
}

/*============bottom.php============*/
    .block-detail {
        background-color: #F9F9F9;
        height: 115px;
        width: 270px;
        border-top: 2px solid #dedfe4;
        
    }
    .block-detail .text{
        font-size: 14px;
        padding: 5px 20px;

    }
    .block-detail .cost-sale{
        margin-left: 30px;
    }
    .block-detail .cost{
        padding: 5px 20px;
    }
    .block-detail .shipping{
        font-weight: bold;
        padding: 5px 20px;
    }
    .block-detail .text a{
        color: black;
    }
    .block-detail .text a:hover{
        color: blue;
    }
    .button-add {
        background-color: blue;
        color: white;
        font-size: 12px;
        padding: 5px 18px;
        margin-bottom: 5px;
        height: 30px;
        font-weight: bold;
    }
    .button-view{
        background-color: white;
        color: blue;
        font-size: 12px;
        padding: 5px 18px;
        border: 1px solid blue;
        height: 30px;
        font-weight: bold;
        
    }
    .block-product:hover .layout-button{
        opacity: 1;
    }
    .block-product:hover .view-img {
        opacity: 0.3;
    }
    .block-product .layout-button {
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 30%;
    }
    .block-product .view-img{
        opacity: 1;        
    }

a:hover {
      cursor: pointer;
}